 <!-- Footer
================================================== -->
  <div class="margin-top-15"></div>

  <div id="footer">
    <!-- Main -->
    <div class="container">

      <div class="seven columns">
        <h4>About</h4>
        <p>This website is developed in order to provide better searching and finding jobs over the internet in Nepal. We don't
          have any office but there's digital contact information in contact section for contact.</p>
        <a routerLink="/login" class="button">Get Started</a>
      </div>

      <div class="three columns">
        <h4>Company</h4>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a  routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/browse-jobs">Browse Jobs</a></li>
          <li><a routerLink="/browse-categories">Browse Categories</a></li>
          <li><a routerLink="/login">Login / Register</a></li>
        </ul>
      </div>

      <div class="three columns">
        <h4>Press</h4>
        <ul class="footer-links">
          <li><a >In the News</a></li>
          <li><a >Press Releases</a></li>
          <li><a >Awards</a></li>
          <li><a >Testimonials</a></li>
          <li><a >Timeline</a></li>
        </ul>
      </div>

      <div class="three columns">
        <h4>Browse</h4>
        <ul class="footer-links">
          <li><a routerLink="/browse-categories">Jobs by Category</a></li>
          <li><a routerLink="/browse-jobs">Jobs by Location</a></li>

        </ul>
      </div>

    </div>

    <!-- Bottom -->
    <div class="container">
      <div class="footer-bottom">
        <div class="sixteen columns">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/jobssinnepal/"><i class="icon-facebook"></i></a></li>
            <!-- <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li> -->
          </ul>
          <div class="copyrights">© Copyright 2018 by <a routerLink="/" >HopNep</a>. All Rights Reserved.</div>
        </div>
      </div>
    </div>

  </div>

  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>