<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> Add Resume</h2>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">

  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Email -->
      <div class="form">
        <h5>Your Name</h5>
        <input class="search-field" type="text" placeholder="Your full name" value="" />
      </div>

      <!-- Email -->
      <div class="form">
        <h5>Your Email</h5>
        <input class="search-field" type="text" placeholder="mail@example.com" value="" />
      </div>

      <!-- Title -->
      <div class="form">
        <h5>Professional Title</h5>
        <input class="search-field" type="text" placeholder="e.g. Web Developer" value="" />
      </div>

      <!-- Location -->
      <div class="form">
        <h5>Location</h5>
        <input class="search-field" type="text" placeholder="e.g. London, UK" value="" />
      </div>

      <!-- Skills -->
      <div class="notification notice closeable margin-bottom-40">
        <p> Skills you have seperated by comma.</p>
      </div>
      <div class="form">
        <h5>Skills</h5>
        <input class="search-field" type="text" placeholder="e.g. HTML, Java" value="" />
      </div>

      <!-- Logo -->
      <div class="form">
        <h5>Photo <span>(optional)</span></h5>
        <label class="upload-btn">
				    <input type="file" multiple />
				    <i class="fa fa-upload"></i> Browse
				</label>
        <span class="fake-input">No file selected</span>
      </div>


      <!-- Description -->
      <div class="form">
        <h5>Wish:</h5>
        <textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true"></textarea>
      </div>

      <!-- cv -->
      <div class="form">
        <h5>CV <span></span></h5>
        <label class="upload-btn">
				    <input type="file" multiple />
				    <i class="fa fa-upload"></i> Browse
				</label>
        <span class="fake-input">No file selected</span>
      </div>




      <div class="divider margin-top-0 padding-reset"></div>
      <a href="#" class="button big margin-top-5">ADD <i class="fa fa-arrow-circle-right"></i></a>

    </div>
  </div>

</div>