<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span><a href="browse-jobs.html">{{job.category?.data.name}}</a></span>
			<h2>{{job.title}}<span class="full-time">{{job.type}}</span></h2>
		</div>

		<div class="six columns">
			<!-- <a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Job</a> -->
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<!-- Company Info -->
		<div class="company-info">
			<img *ngIf="job.company_logo != ''" src="./../../assets/images/company-logo.png" alt="">
			<img *ngIf="job.company_logo == ''" src="./../../assets/images/company-logo.png" alt="">
			<div class="content">
				<h4>{{job.company_name}}</h4>
				<span *ngIf="job.company_website != ''"><a href="#"><i class="fa fa-link"></i> {{job.company_website}}</a></span>
				<span *ngIf="job.company_facebook != ''"><a href="#"><i class="fa fa-facebook"></i> {{job.company_facebook}}</a></span>
				<span *ngIf="job.company_phone != ''"><a href="#"><i class="fa fa-phone"></i> {{job.company_phone}}</a></span>
			</div>
			<div class="clearfix"></div>
		</div>

		{{job.description}}
		
		<br>

		<h4 class="margin-bottom-10">Job Requirment</h4>

		{{job.requirements}}

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">
				
				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<div>
							<strong>Location:</strong>
							<span>{{job.city + ', ' + job.district +  ', ' + job.zone + ', ' + job.country}}</span>
						</div>
					</li>
					<li>
						<i class="fa fa-user"></i>
						<div>
							<strong>Job Title:</strong>
							<span>{{job.title}}</span>
						</div>
					</li>
					<li>
						<i class="fa fa-clock-o"></i>
						<div>
							<strong>Hours:</strong>
							<span>Good</span>
						</div>
					</li>
					<li>
						<i class="fa fa-money"></i>
						<div>
							<strong>Rate:</strong>
							<span>Good</span>
						</div>
					</li>
				</ul>


				<a *ngIf="userInfo?.role_id == 1 && applied != ''" (click)="addStatus()" id="applybutton"  class="button">Apply For This Job</a>
				<a *ngIf="userInfo?.role_id == 1 && applied == ''" id="applybutton"  class="button">Already applied on {{jobstatus[0]?.created_at.date | date:"medium"}}. if you get selected then you will get an email from the employer. Thankyou for surfing our website.</a>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->


</div>