<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span><a href="browse-jobs.html">{{job.category.data.name}}</a></span>
			<h2>{{job.title}}<span class="full-time">{{job.type}}</span></h2>
		</div>

		<div class="six columns">
			<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Job</a>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<!-- Company Info -->
		<div class="company-info">
			<img *ngIf="company_logo != ''" src="./../../assets/images/company-logo.png" alt="">
			<img *ngIf="company_logo == ''" src="./../../assets/images/company-logo.png" alt="">
			<div class="content">
				<h4>{{job.company_name}}</h4>
				<span *ngIf="job.company_website != ''"><a href="#"><i class="fa fa-link"></i> {{job.company_website}}</a></span>
				<span *ngIf="job.company_facebook != ''"><a href="#"><i class="fa fa-facebook"></i> {{job.company_facebook}}</a></span>
			</div>
			<div class="clearfix"></div>
		</div>

		{{job.description}}
		
		<br>

		<h4 class="margin-bottom-10">Job Requirment</h4>

		{{job.requirements}}

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">
				
				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<div>
							<strong>Location:</strong>
							<span>{{job.city + ', ' + job.district +  ', ' + job.zone + ', ' + job.country}}</span>
						</div>
					</li>
					<li>
						<i class="fa fa-user"></i>
						<div>
							<strong>Job Title:</strong>
							<span>{{job.title}}</span>
						</div>
					</li>
					<li>
						<i class="fa fa-clock-o"></i>
						<div>
							<strong>Hours:</strong>
							<span>Good</span>
						</div>
					</li>
					<li>
						<i class="fa fa-money"></i>
						<div>
							<strong>Rate:</strong>
							<span>Good</span>
						</div>
					</li>
				</ul>


				<a *ngIf="role_id == 1" href="#small-dialog" class="popup-with-zoom-anim button">Apply For This Job</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Apply For This Job</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Full Name" value=""/>
							<input type="text" placeholder="Email Address" value=""/>
							<textarea placeholder="Your message / cover letter sent to the employer"></textarea>

							<!-- Upload CV -->
							<div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
							<div class="clearfix"></div>

							<label class="upload-btn">
							    <input type="file" multiple />
							    <i class="fa fa-upload"></i> Browse
							</label>
							<span class="fake-input">No file selected</span>

							<div class="divider"></div>

							<button class="send">Send Application</button>
						</form>
					</div>
					
				</div>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->


</div>