<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>My Account</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>My Account</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">

		<ul class="tabs-nav">
			<li class=""><a (click)='reset()' href="#tab1">Login</a></li>
			<li><a (click)='reset()' href="#tab2">Register</a></li>
		</ul>

		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">
				<div *ngIf="error" class="notification error closeable">
					<p *ngIf="error == 'invalid_request'"><span>Error!</span> Login doesn't match. </p>
					<p *ngIf="error == 'invalid_credentials'"><span>Error!</span> The user credentials were incorrect. </p>
					<a class="close" href="#"></a>
				</div>
				<form method="post" class="login">

					<p class="form-row form-row-wide">
						<label for="username">Username:
							<i class="ln ln-icon-Male"></i>
							<input type="text" class="input-text" name="username" id="username" [(ngModel)]="loginData.username" />
						</label>
					</p>

					<p class="form-row form-row-wide">
						<label for="password">Password:
							<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text" [(ngModel)]="loginData.password" type="password" name="password" id="password"/>
						</label>
					</p>

					<p class="form-row">
						<input type="submit" (click)="login()" class="button border fw margin-top-10" name="login" value="Login" />

						<!-- <label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
					 -->
					</p>

					<!-- <p class="lost_password">
						<a href="#">Lost Your Password?</a>
					</p> -->

				</form>
			</div>

			<!-- Register -->
			<div class="tab-content" id="tab2" style="display: none;">

				<form method="post" class="register">

					<p class="form-row form-row-wide">
						<label *ngIf="registererror?.name" style="color:red;">*{{registererror?.name[0]}}</label>
						<label for="username2">Name:
						<i class="ln ln-icon-Male"></i>
						<input type="text" class="input-text" name="username" id="username2" [(ngModel)]="register.name" />
					
					</label>
					</p>

					<!-- Job Type -->
					<p class="form-row form-row-wide">
						<label *ngIf="registererror?.role_id" style="color:red;">*{{registererror?.role_id[0]}}</label>
						<label for="username2">Looking For:
						 <select style="height:50px;" [(ngModel)]="register.role_id" [ngModelOptions]="{standalone: true}">
							<option selected="selected" [value]="1">Job</option>
							<option [value]="2">Employee</option>
						</select> 
						<!-- <select id="roletype" (change)="changeRole()" data-placeholder="Job" class="chosen-select-no-single">
							<option value="1">Job</option>
							<option value="2">Employee</option>
						</select> -->
					
					</label>

					</p>

					<p class="form-row form-row-wide">
						<label *ngIf="registererror?.email" style="color:red;">*{{registererror?.email[0]}}</label>
						<label for="email2">Email Address:
						<i class="ln ln-icon-Mail"></i>
						<input type="email" class="input-text" name="email" id="email2" [(ngModel)]="register.email" />
					</label>
					</p>

					<p class="form-row form-row-wide">
						<label *ngIf="registererror?.password" style="color:red;">*{{registererror?.password[0]}}</label>
						<label for="password1">Password:
						<i class="ln ln-icon-Lock-2"></i>
						<input class="input-text" type="password" name="password1" id="password1" [(ngModel)]="register.password"/>
					</label>
					</p>

					<p class="form-row form-row-wide">
						<label *ngIf="registererror?.password" style="color:red;">*{{registererror?.password[0]}}</label>
						<label for="password2">Repeat Password:
						<i class="ln ln-icon-Lock-2"></i>
						<input class="input-text" type="password" name="password2" id="password2" [(ngModel)]="register.password_confirmation"/>
					</label>
					</p>

					<p class="form-row">
						<input type="submit" (click)="registerUser()" class="button border fw margin-top-10" name="register" value="Register" />
					</p>

				</form>
			</div>
		</div>
	</div>
</div>