<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <img src="images/resumes-list-avatar-01.png" alt="">
        <div class="resumes-list-content">
          <h4> {{userInfo?.name}} <span>{{cv?.professional_title}}</span></h4>
          <span class="icons"><i class="fa fa-map-marker"></i>{{cv?.address}}</span>
          <span class="icons"><i class="fa fa-money"></i> Good</span>
          <span class="icons"><a href="#"><i class="fa fa-link"></i> </a></span>
          <span class="icons"><a><i class="fa fa-envelope"></i> {{userInfo?.email}}</a></span>
          <div class="skills">
            <span>{{cv?.skills}}</span>

          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <div class="six columns">
      <div class="two-buttons">

        <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
          <div class="small-dialog-headline">
            <h2>Send Message to {{userInfo?.name}}</h2>
          </div>

          <div class="small-dialog-content">
            <!-- Success Message -->
            <div *ngIf="success" class="notification success closeable">
              <p><span>Success!</span> {{success}}</p>
              <a class="close" href="#"></a>
            </div>
            <div *ngIf="error" class="notification error closeable">
              <p><span>Error!</span> {{ error }}</p>
              <a class="close" href="#"></a>
            </div>
            <form >
              <input type="text" [(ngModel)]="mail.name" placeholder="Full Name" name="fullname"  />
              <input type="text" [(ngModel)]="mail.byemail" placeholder="Email Address" name="sender"  />
              <textarea [(ngModel)]="mail.message" placeholder="Message" name="message"></textarea>

              <button (click)="sendMail()" class="send">Send Application</button>
            </form>
          </div>

        </div>
        <a  class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a>


      </div>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <!-- Recent Jobs -->
  <div class="sixteen columns">
    <div class="padding-right">

      <h3 class="margin-bottom-15">About and Wish</h3>

      <p class="margin-reset">{{cv?.wish}}
      </p>

      <br>

    </div>
  </div>


  <!-- Widgets -->
  <div class="sixteen columns">

    <h3 class="margin-bottom-20">Curriculum Vitae</h3>

    <!-- Resume Table -->
     <pdf-viewer [src]="cvlink" [page]="page" [original-size]="true" style="display: block;"></pdf-viewer>

    <!-- <embed src="{{cvlink}}" width="500" height="375" type='application/pdf'>  -->

      <!-- <embed src="{{cvlink}}" width="500" height="375" type='application/pdf'> -->

  </div>

</div>