<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Contact</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>

  </div>
</div>




<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
  <div class="sixteen columns">

    <h3 class="margin-bottom-20">Our Office</h3>

    <!-- Google Maps -->
    <section class="google-map-container">
      <div id="googlemaps" class="google-map google-map-full"></div>
    </section>
    <!-- Google Maps / End -->

  </div>
</div>
<!-- Container / End -->


<!-- Container -->
<div class="container">

  <div class="eleven columns">

    <h3 class="margin-bottom-15">Contact Form</h3>

    <!-- Contact Form -->
    <section id="contact" class="padding-right">

      <!-- Success Message -->
      <div *ngIf="success" class="notification success closeable">
        <p><span>Success!</span> {{success}}</p>
        <a class="close" href="#"></a>
      </div>

      <!-- Form -->
      <form name="contactform" id="contactform">

        <fieldset>

          <div>
            <label>Name:</label>
            <input [(ngModel)]="mail.name" name="name" type="text" id="name" />
          </div>

          <div>
            <label>Email: <span>*</span></label>
            <input [(ngModel)]="mail.email" name="email" type="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$"
            />
          </div>

          <div>
            <label>Message: <span>*</span></label>
            <textarea [(ngModel)]="mail.message" name="comment" cols="40" rows="3" id="comment" spellcheck="true"></textarea>
          </div>

        </fieldset>
        <div id="result"></div>
        <button (click)="sendMail()" type="submit" class="submit" id="submit">Send Message</button>

        <div class="clearfix"></div>
        <div class="margin-bottom-10"></div>
        <div *ngIf="error" class="notification error closeable">
          <p><span>Error!</span> {{ error }} Please fill in all the fields required.</p>
          <a class="close" href="#"></a>
        </div>
        <div class="margin-bottom-40"></div>
      </form>

    </section>
    <!-- Contact Form / End -->

  </div>
  <!-- Container / End -->


  <!-- Sidebar
================================================== -->
  <div class="five columns">

    <!-- Information -->
    <h3 class="margin-bottom-10">Information</h3>
    <div class="widget-box">
      <p>This website is developed in order to provide better searching and finding jobs over the internet in Nepal. We don't
        have any office but there's digital contact information down below for contact.</p>

      <ul class="contact-informations">
        <li>Chitwan, Nepal</li>
        <li>Bharatpur-24, Chitwan, Nepal </li>
      </ul>

      <ul class="contact-informations second">
        <!--<li><i class="fa fa-envelope"></i>
          <p>mail@example.com</p>
        </li>-->
        <li><i class="fa fa-globe"></i>
          <p>creative@hopnep.com</p>
        </li>
      </ul>

    </div>

    <!-- Social -->
    <div class="widget margin-top-30">
      <h3 class="margin-bottom-5">Social Media</h3>
      <ul class="social-icons">
        <li><a class="facebook" href="https://www.facebook.com/jobssinnepal/"><i class="icon-facebook"></i></a></li>
        <!--<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>-->
      </ul>
      <div class="clearfix"></div>
      <div class="margin-bottom-50"></div>
    </div>

  </div>
</div>
<!-- Container / End -->