<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Admin Panel</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Admin Panel</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25">All job listings are shown in the table below.</p>

		<table class="manage-table responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-check-square-o"></i> Filled?</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Date Expires</th>
				<th><i class="fa fa-user"></i> Applications</th>
				<th><i class="fa fa-user"></i> Approval</th>
				<th></th>
			</tr>

			<!-- Item #2 -->
			<tr *ngFor="let job of jobs | slice:sliceStart:sliceEnd; let j =index">
				<td class="title"><a href="#">{{ job.title }}</a></td>
				<td class="centered">
					<span *ngIf="job.filled == 1"><i class="fa fa-check"></i></span><span *ngIf="job.filled == 0"><i class="fa fa-times"></i></span></td>
				<td>{{ job.created_at.date | date:'mediumDate' }}</td>
				<td>{{ job.finish | date:'mediumDate' }}</td>
				<td class="centered">
					<a *ngIf="job.applicant_count > 0" routerLink="/manage-application/{{job.id}}" class="button">Show ({{job.applicant_count}})</a>
					<span *ngIf="job.applicant_count == 0">0</span>
				</td>
				<td><span *ngIf="job.status == 0">Pending</span><span *ngIf="job.status == 1">Approved</span></td>
				<td class="action">
					<a routerLink="/add-job/{{job.id}}"><i class="fa fa-pencil"></i> Edit</a>
					<a *ngIf="job.filled == 0" (click)='markFilled(job.id)' style="cursor:pointer;"><i class="fa  fa-check "></i> Mark Filled</a>
					<a *ngIf="job.filled == 1" (click)='markNotFilled(job.id)' style="cursor:pointer;"><i class="fa fa-times "></i> Mark Not Filled</a>
          <a routerLink="/job/{{job.id}}" style="cursor:pointer;"><i class="fa fa-eye"></i>View</a>
					<a *ngIf="job.status == 0" (click)='markAllow(job.id)' style="cursor:pointer;"><i class="fa  fa-check "></i> Allow</a>
					<a *ngIf="job.status == 1" (click)='markBan(job.id)' style="cursor:pointer;"><i class="fa fa-times "></i> Ban</a>
          
				</td>
			</tr>

		</table>

		<br>
		<a routerLink="/add-job/add" class="button">Add Job</a>

		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li style="margin-left:5px; cursor: pointer;" (click)="changePage(i)" *ngFor="let page of numOfPages; let i = index"><a id="pagination{{i}}">{{i+1}}</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<!-- <li><a href="#" class="prev">Previous</a></li>
						<li><a href="#" class="next">Next</a></li> -->
				</ul>
			</nav>
		</div>

	</div>

</div>