<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container sixteen columns">
		<div class="ten columns">
			<h2>Search resume</h2>
			<span *ngIf="count != 0">We found {{count}} jobs matching:</span>
			<span *ngIf="count == 0">No jobs found.</span>
		</div>

	</div>
</div>


<!-- Content
===================================================== -->
<div class="container">
	<div class="eleven columns">
		<div class="search-container" style="padding:0px 0px 30px 0px !important;">
			<!-- Form -->
			<input type="text" style="border:1px solid;" class="ico-01" [(ngModel)]="search.keyword" placeholder="Keywords" value=""
			/>
			<input type="text" style="border:1px solid;" class="ico-02" [(ngModel)]="search.location" placeholder="Location" value=""
			/>
			<button (click)="searchCV()"><i class="fa fa-search"></i></button>
		</div>
	</div>
	<!-- Recent Jobs -->
	<div class="eleven columns">
		<div class="padding-right">


			<ul class="job-list full">
					<div *ngFor="let cv of cvs | slice:sliceStart:sliceEnd; let j =index">
					<li><a href="resume-page.html">
						<img src="images/resumes-list-avatar-01.png" alt="">
						<div class="resumes-list-content">
							<h4>john<span>UX/UI Graphic Designer</span></h4>
							<span><i class="fa fa-map-marker"></i> Melbourne</span>
							<span><i class="fa fa-money"></i> $100 / hour</span>
							<p>Over 8000 hours on oDesk (only Drupal related). Highly motivated, goal-oriented, hands-on senior software engineer with extensive technical skills and over 15 years of experience in software development</p>

							<div class="skills">
								<span>JavaScript</span>
								<span>PHP</span>
								<span>WordPress</span>
							</div>
							<div class="clearfix"></div>

						</div>
						</a>
						<div class="clearfix"></div>
					</li>

				</div>

			</ul>
			<div class="clearfix"></div>

			<div class="pagination-container">
				<nav class="pagination">
					<ul>
						<li style="margin-left:5px; cursor: pointer;" (click)="changePage(i)" *ngFor="let page of numOfPages; let i = index"><a id="pagination{{i}}">{{i+1}}</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
						<!-- <li><a href="#" class="prev">Previous</a></li>
						<li><a href="#" class="next">Next</a></li> -->
					</ul>
				</nav>
			</div>

		</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Interesting</h4>
			Find your desire job.
		</div>
	</div>
	<!-- Widgets / End -->

</div>