<app-header-secondary></app-header-secondary>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(images/all-categories-photo.jpg);">
	<div class="container">
		<div class="ten columns">
			<h2>All Categories</h2>
		</div>

		<div class="six columns">
			<a href="add-job.html" class="button">Post a Job, It’s Free!</a>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div id="categories">
	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Web, Software & IT</h4></div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('PHP')">PHP</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Android')">Android</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('WordPress')">WordPress</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Design')">Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Developer')">Developer</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('iOS')">iOS</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Mobile')">Mobile</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('MySQL')">MySQL</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('JavaScript')">JavaScript</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Software')">Software</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Website Design')">Website Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Programming')">Programming</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('SEO')">SEO</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Java')">Java</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('CSS')">CSS</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('HTML5')">HTML5</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Web Development')">Web Development</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Web Design')">Web Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('eCommerce')">eCommerce</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Design, Art & Multimedia</h4></div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('Design')">Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Logo Design')">Logo Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Graphic Design')">Graphic Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Video')">Video</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Adnimation')">Adnimation</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Adobe Photoshop')">Adobe Photoshop</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Illustration')">Illustration</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('Art')">Art</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('3D')">3D</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Adobe Illustrator')">Adobe Illustrator</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Drawing')">Drawing</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Web Design')">Web Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Cartoon')">Cartoon</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Graphics')">Graphics</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('Fashion Design')">Fashion Design</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('WordPress')">WordPress</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Editing')">Editing</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Writing')">Writing</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('T-Shirt Design')">T-Shirt Design</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Sales & Marketing</h4></div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('Display Advertising')">Display Advertising</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Email Marketing')">Email Marketing</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Lead Generation')">Lead Generation</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Market & Customer Research')">Market & Customer Research</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('Marketing Strategy')">Marketing Strategy</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Public Relations')">Public Relations</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Telemarketing & Telesales')">Telemarketing & Telesales</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('Other - Sales & Marketing')">Other - Sales & Marketing</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a style="cursor:pointer;" (click)="searchJobs('SEM - Search Engine Marketing')">SEM - Search Engine Marketing</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('SEO - Search Engine Optimization')">SEO - Search Engine Optimization</a></li>
					<li><a style="cursor:pointer;" (click)="searchJobs('SMM - Social Media Marketing')">SMM - Social Media Marketing</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>